CREATE DATABASE IF NOT EXISTS {{ db_name }};
CREATE USER IF NOT EXISTS '{{ db_username }}'@'localhost' IDENTIFIED BY '{{ db_password }}';
GRANT ALL ON {{ db_name }}.* TO '{{ db_username }}'@'localhost' ;
FLUSH PRIVILEGES;